/* Base styles */
.navbar {
  background-color: #333;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: rgb(247, 139, 90);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
}

.search-button:hover {
  background-color: rgb(236, 150, 110);
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #f0a500;
}

/* Mobile Menu */
@media (max-width: 650px) {
  .search-form {
    display: none;
  }

  .navbar-links {
    display: flex;
    position: fixed;
    top: -10px;
    right: -350px;
    width: 250px;
    height: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.3s ease;
  }

  .navbar-links.active {
    right: 0;
  }

  .navbar-links li {
    margin: 1rem 0;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
}
