.main-dashboard {
  overflow-y: auto;
  height: 100vh;
  padding: 2rem;
  margin-bottom: 5rem;
  scrollbar-width: none;
}

.main-dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dashboard-header-cards {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 12rem;
  height: 12rem;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}

.percentage-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ddd;
}

.percentage-value {
  position: absolute;
  font-weight: bold;
  font-size: 1rem;
}

.dashboard-inventory {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.dashboard-mostsaleProducts,
.dashboard-products-inventory {
  width: 30%;
}

.top-products-table,
.top-transactions-table,
.products-list-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.top-products-table th,
.top-products-table td,
.top-transactions-table th,
.top-transactions-table td,
.products-list-table th,
.products-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.top-products-table th,
.top-transactions-table th,
.products-list-table th {
  background-color: #f2f2f2;
}

.dashboard-top-transactions {
  margin-top: 2rem;
}

.category-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-list ul li {
  padding: 0.5rem 0;
}

.product-quantity-line {
  height: 5px;
  margin-top: 5px;
  border-radius: 5px;
  transition: width 0.5s ease;
  position: relative;
}

.product-quantity-line:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}
.products-list-table {
  margin-top: 1rem;
}

.products-list-table th,
.products-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.products-list-table th {
  background-color: #f2f2f2;
}
.products-list-section {
  margin-top: 2rem;
}

.product-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.product-name {
  margin-right: 1rem;
}

.product-quantity-line {
  height: 5px;
  border-radius: 5px;
  transition: width 0.5s ease;
  position: relative;
}

.product-quantity-line:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}
.products-list-section {
  margin-top: 2rem;
  height: 300px;
  overflow-y: hidden; 
  scrollbar-width: none;
}
.products-list-section::-webkit-scrollbar {
  display: none; 
}